@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Scrollbar Hide */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body {
  background-color: #f9fafb; /* bg-gray-50 */
}
